*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.earth{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(images/earth.png);
    background-size: 400px 400px;
    background-position: center;
    box-shadow: rgba(189, 189, 189, 0.25) 10px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(186, 186, 186, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(193, 193, 193, 0.09) 0px -3px 5px;
}
.orbit{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotaite 15s linear infinite;
    animation-direction: reverse;
    overflow: hidden;
}
@keyframes rotaite {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.car{
    width: 180px;
    height: 180px;
    background-image: url(images/car.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-40deg);
}